:root {
    --text-color: #333;
    --background-color: #f0f0f0;
    --link-color: #1a73e8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    /* background-color adds border */
    /*background-color: #fff; */
}
nav .left a {
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.2rem;
}
nav .right a {
    margin-left: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*about styles */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}
.about .about-content h1{
    font-size:  2.5rem;
    margin-bottom: 1rem;
}
.about .about-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 2000px;
    margin: 0 auto;
}
.about .about-content .links {
    margin-top: 1rem;
}
.about .about-content .links a {
    margin: 0 0.5rem;
    color: var(--link-color);
    font-weight: bold;
    border : 1px solid var(--link-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.about .about-content .links a:hover {
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
    color: #fff;
}
/* skills styles */
.skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}
.skills-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.skills-section p {
    font-size: 1.2rem;
    margin: 1rem;
    max-width: 800px;
}
.skills-section h3 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: var(--text-color);
    flex-basis: 100%;
}
.skills-section .cells {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skills-section .cell {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin: 0.5rem;
    width: 200px;
    text-align: center;
}
.skills-section .cell span {
    display: block;
    font-weight: bold;
    margin-top: 0.5rem;
    color: var(--text-color);
    font-size: 1.2rem;
}
.skills-section .cell i{
    font-size: 2rem;
    margin-right: 0.2rem;
}
.skills-section .cell:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
.skills-section .cell:hover span {
    color: var(--link-color);
    transition: color 0.3s;
}
/* projects styles */
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}
.projects h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.projects p {
    font-size: 1.2rem;
    margin: 1rem;
    max-width: 800px;
}
.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.projects .project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin: 0.5rem;
    width: 300px;
}
.projects .project-details h3 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: var(--text-color);
    flex-basis: 100%;
}
.projects .project-details .project-icon {
    font-size: 3rem;
    color: var(--link-color);
    margin-bottom: 1rem;
}
.projects .project-details .project-github a{
    margin-top: 1rem;
    color: var(--text-color);
    font-weight: bold;
    border : 1px solid var(--text-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.projects .project-details .project-github a:hover {
    background-color: var(--text-color);
    color: #fff;
}